* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  display: flex;
  align-items: center;
  background-color: #0f9e99;
  flex-direction: column;
  margin-top: 30px;
}
.container {
  background-color: #fba002;
  color: #313b2f;
  padding: 20px;
  border-radius: 10px;
  max-width: 550px;
  min-width: 550px;
}
.container h1 {
  margin-bottom: 20px;
  text-align: center;
}
.container input {
  padding: 10px;
  width: 100%;
  outline: none;
  border-radius: 6px;
  border: none;
  font-size: 16px;
}
.container textarea {
  padding: 10px;
  width: 100%;
  outline: none;
  border-radius: 6px;
  border: none;
  resize: none;
  font-size: 16px;
}

.container button {
  width: 100%;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 8px;
  font-size: 16px;
  color: #313b2f;
  font-weight: bold;
}

.tasks {
  background-color: white;
  max-width: 550px;
  min-width: 550px;
  margin: 10px 0px;
  border-radius: 10px;
}

.tasklist {
  padding: 20px;
  width: 100%;
  margin-bottom: 20px;
  position: relative;
}

.task-item {
  display: flex;
  gap: 12px;
  align-items: flex-start;
  margin-bottom: 15px;
  padding: 10px;
  width: 100%;
}

.task-item > div {
  flex: 1;
  min-width: 0;
  word-break: break-word;
  overflow-wrap: anywhere;
}

.task-item h3 {
  margin-bottom: 10px;
}

.check-icon {
  font-size: 20px;
  cursor: pointer;
  margin-top: 5px;
}

.completed h3,
.completed p {
  text-decoration: line-through;
  opacity: 0.6;
}

.done {
  color: green;
}

.actions {
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
  gap: 6px;
}

.actions button {
  padding: 5px 8px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  padding: 8px;
  background-color: #0f9e99;
  color: #fba002;
}
